{%- capture groovy_title %}
{% include svg/groovy-logo.svg %} build.gradle
{%- endcapture %}
{% capture kts_title %}
{% include svg/kotlin-logo.svg %} build.gradle.kts
{% endcapture %}
{% capture catalogue_title %}
{% include svg/gradle-logo.svg %} Version Catalogues
{% endcapture %}
{%- assign tab_names = "" | split: "," | push: groovy_title | push: kts_title | push: catalogue_title %}
{%- assign tabs = "" | split: "," | push: include.groovy | push: include.kts | push: include.catalogue %}
{%- if include.mods %}
{%- assign mods = include.mods %}
{%- else %}
{%- assign mod1 = include.mod1 | split: ":" %}
{%- assign mods = "" | split: "," | push: mod1 %}
{%- if include.mod2 %}
{%- assign mod2 = include.mod2 | split: ":" %}
{%- assign mods = mods | push: mod2 %}
{%- endif %}
{%- if include.mod3 %}
{%- assign mod3 = include.mod3 | split: ":" %}
{%- assign mods = mods | push: mod3 %}
{%- endif %}
{%- endif %}
{%- capture result %}
{%- include tabbed.liquid key="buildscript" tab_names=tab_names tabs=tabs %}
{%- endcapture %}
{% for mod in mods %}
{%- capture result %}
{%- capture replacement_key %}&lt;{% if mods.size > 1 %}{{ mod[0] | upcase }}_{% endif %}VERSION&gt;{% endcapture %}
{%- capture replacement %}<span class="mod-version-{{ mod[0] }}">{{ replacement_key }}</span>{% endcapture %}
{{ result | replace: replacement_key, replacement }}
{%- endcapture %}
{% endfor %}
{% if mods.size > 0 and mods[0].size > 1 %}
<label for="select-mcversion">Select a Minecraft Version:</label>
<select id="select-mcversion" class="mc-version-select" name="select-mcversion" disabled>
    <option>Loading...</option>
</select>
<script type="module">
import {setUpSmartBuildscript} from "/scripts/smart-buildscript.js";
setUpSmartBuildscript({ {% for mod in mods %}{{ mod[0] }}: '{{ mod[1] }}'{% unless forloop.last %}, {% endunless %}{% endfor %} });
</script>
{% endif %}
{{ result }}
