<div class="menu-grid wiki-listing">
{% for page in include.pages %}
<a class="menu-grid-item hoverable-card" href="{{ include.root_url }}/{{ page.ref }}">
    <div class="mod-icon{% if page.class %} {{ page.class }}{% endif %}">
    {%- if page.svg_icon %}
        {% include svg/{{page.svg_icon}}.svg %}
    {%- else %}
       <img alt="{{ page.ref | capitalize }} Icon" src="{{ page.icon }}" class="{% if page.pixel_art %} pixel-art{% endif %}" width="150px" height="150px">
        {%- if page.hover_icon %}
        <img alt="{{ page.ref | capitalize }} Icon" src="{{ page.hover_icon }}" class="hovered-alt{% if page.pixel_art %} pixel-art{% endif %}" aria-hidden="true" width="150px" height="150px" loading="lazy">
        {%- endif %}
    {%- endif %}
    </div>
    <h2 class="home no_toc no_anchor">{{ page.title }}</h2>
</a>
{% endfor %}
</div>
