{%- comment -%}Prepare tab content{%- endcomment -%}
{%- capture groovy_title %}
{% include svg/groovy-logo.svg %} build.gradle
{%- endcapture %}
{% capture kts_title %}
{% include svg/kotlin-logo.svg %} build.gradle.kts
{% endcapture %}
{% capture catalogue_title %}
{% include svg/gradle-logo.svg %} Version Catalogues
{% endcapture %}
{%- assign tab_names = "" | split: "," | push: groovy_title | push: kts_title | push: catalogue_title %}
{%- assign tabs = "" | split: "," | push: include.groovy | push: include.kts | push: include.catalogue %}
{%- capture result %}
{%- include tabbed.liquid key="buildscript" tab_names=tab_names tabs=tabs %}
{%- endcapture %}
{%- comment -%}Render tabs and version selector{%- endcomment -%}
{% for mod in include.mods %}
{%- capture result %}
{%- capture replacement_key %}&lt;{% if include.mods.size > 1 %}{{ mod[0] | upcase }}_{% endif %}VERSION&gt;{% endcapture %}
{%- capture replacement %}<span class="mod-version-{{ mod[0] }}">{{ replacement_key }}</span>{% endcapture %}
{{ result | replace: replacement_key, replacement }}
{%- endcapture %}
{% endfor %}
{% if include.mods %}
<label for="select-mcversion">Select a Minecraft Version:</label>
<select id="select-mcversion" class="mc-version-select" name="select-mcversion" disabled>
    <option>Loading...</option>
</select>
<script type="module">
import {setUpSmartBuildscript} from "/scripts/smart-buildscript.js";
setUpSmartBuildscript({ {% for mod in mods %}{{ mod[0] }}: '{{ mod[1] }}'{% unless forloop.last %}, {% endunless %}{% endfor %} });
</script>
{% endif %}
{{ result }}
