{%- assign item = site.data.minecraft.items[include.item] -%}
{%- unless item -%}
{%- assign item = site.data.minecraft.items["MISSING"] -%}
{%- assign missing = true -%}
{%- endunless -%}
<span class="invslot-item invslot-item-image" data-minetip-title="{{ item.name }}" {% if missing %}data-minetip-description="{{ include.item }}"{% endif %} {% unless item.link %}tabindex="0"{% endunless %}>
{%- if item.link -%}<a href="{{ item.link }}">{%- endif -%}
<img alt="{{ include.alt_prefix }}{{ item.name }}" src="{{ item.icon }}" decoding="async" loading="lazy" width="32" height="32">
{%- if item.link -%}</a>{%- endif -%}
{%- if include.count > 1 -%}<span class="invslot-stacksize">{{ include.count }}</span>{%- endif -%}
</span>
