{% capture html %}
<!DOCTYPE html>
<html lang="en-US">
{% include header.liquid %}
<body>
<!-- Custom Night mode Option -->
<script src="/scripts/darkmode.js"></script>
<header id="ladysnake-header">
    <a id="ladysnake_logo" class="ladysnake-logo" href="/" title="Ladysnake Home Page">
        <img alt="Ladysnake Logo" src="/img/ladysnake-logo-light.png">
    </a>

    <button onclick="darkMode.toggleDarkMode()" title="Toggle Dark Mode"><img alt="Dark Mode Icon" id="preload-darkmodeicon"
                                                     src="/img/placeholder.png"/></button>

    <input id="header-mobile-nav-toggle" type="checkbox"/>

    <label for="header-mobile-nav-toggle">
        {% include svg/hamburger-menu.svg %}
    </label>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav id="ladysnake-navbar">
        <ul>
            {% if page.modrinth %}
                <li class="nav-item dropdown">
                    <input id="mod-download-dropdown-toggle" type="checkbox" autocomplete="off"/>
                    <label for="mod-download-dropdown-toggle">Download {% include svg/dropdown.svg %}</label>
                    <span class="dropdown-backdrop"></span>
                    <!--Filled by JS-->
                    <ul id="mod-download-dropdown" class="dropdown-menu"></ul>
                </li>
            {% endif %}
            <li class="nav-item"><a href="/index.html">Home</a></li>
            <li class="nav-item"><a href="/about.html">About Us</a></li>
            <li class="nav-item dropdown">
                <input type="checkbox" autocomplete="off" id="mod-list-dropdown-toggle">
                <label for="mod-list-dropdown-toggle">Mods {% include svg/dropdown.svg %}</label>
                <span class="dropdown-backdrop"></span>
                <ul id="mod-list-dropdown" class="dropdown-menu">
                    {% for mod in site.mods %}
                        {% unless mod.discontinued %}
                        <li class="dropdown-item"><a href="{{ mod.link }}" title="{{ mod.title }}">{{ mod.title }}</a></li>
                        {% endunless %}
                    {% endfor %}
                    <li>
                        <hr/>
                    </li>
                    <li class="dropdown-item">
                        <a href="/#discontinued-mods" title="Discontinued Mods">Discontinued Mods</a>
                    </li>
                    <!-- Will be adding Fabric libraries here "shortly" -->
                </ul>
            </li>
            <li class="nav-item"><a href="/oldsite/">Old Site</a></li>
            <li class="nav-item">
                <a href="https://discord.ladysnake.org" title="Discord" class="discord-invite">
                    {% include svg/discord-word.svg %}
                </a>
            </li>
        </ul>
    </nav><!-- /.navbar-collapse -->
</header>

<!-- START SECTION -->
<div class="container">
    {% capture icon %}{% include svg/octicon-link.svg %}{% endcapture %}
    {% unless page.no_anchor_headings %}
    {% capture content %}{% include anchor_headings.liquid html=content anchorBody=icon anchorTitle="Permalink" anchorClass="header-anchor" %}{% endcapture %}
    {% endunless %}
    {{ content }}
</div>

{% include scrolltop.liquid %}

<!--/.section -->
<footer>
    <!-- This is the footer! Created by sschr15... -->
    Site owned and operated by Ladysnake.&nbsp;
    <a href="https://github.com/Ladysnake" title="Find the Ladysnake org on GitHub!" class="p-wiki-icon">{% include svg/github-logo.svg %}</a>
</footer>

<!-- Dark mode image loading -->
<script>
    darkMode.setupDarkModeButton()
</script>
{% if page.datapack_editor %}
    <!--Datapack editing-->
    {% comment %}Datapack editing still uses bootstrap collapsables{% endcomment %}
    <script async src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/scripts/jszip.min.js"></script>
    <script src="/scripts/FileSaver.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <script src="/scripts/datapack-editing.js"></script>
{% endif %}
{% if page.modrinth %}
    <!-- Mod downloading dropdown, (almost) direct from our site! -->
    <script type="module">
        import { mountModDownloads } from "/scripts/mod-download.js";
        mountModDownloads('{{ page.slug }}', `{% include svg/download-icon.svg %}`);
    </script>
{% endif %}
{% if page.curse_project %}
    <!-- adding the ability to print the pages out -->
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
{% endif %}

</body>

</html>
{% endcapture %}
{% capture html %}{% include relativized_links.liquid html=html src_attr="src" tag="script" %}{% endcapture %}
{% capture html %}{% include relativized_links.liquid html=html src_attr="src" tag="img" %}{% endcapture %}
{% capture html %}{% include relativized_links.liquid html=html src_attr="href" tag="a" %}{% endcapture %}
{{ html | strip }}
