---
layout: default
header_preprocessor: wiki_header_preprocessor.liquid
---
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/wiki/cardinal-components-api">Cardinal Components API</a></li>
        {% unless page.path == "wiki/cardinal-components-api/index.md" %}
        <li class="breadcrumb-item"><a href="/wiki/cardinal-components-api/landing">Wiki</a></li>
        <li class="breadcrumb-item active" aria-current="page">{% if page.breadcrumb %}{{ page.breadcrumb }}{% else %}{{ page.title }}{% endif %}</li>
        {% endunless %}
    </ol>
</nav>

<div class="wiki-container">
    {%- unless page.notoc %}
    <div class="toc-pane">
        <h3>{% if page.breadcrumb %}{{ page.breadcrumb }}{% else %}{{ page.title }}{% endif %}</h3>
        <nav class="toc">
            <ul>
                {% if page.slug %}
                {% include mod_links.liquid %}
                {% endif %}
                {% include toc.liquid html=content sanitize=true %}
            </ul>
        </nav>
    </div>
    {%- endunless %}
    <main id="printJS-Content">

        {% unless page.custom_title %}
        <h1>{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}&nbsp;</h1>
        {% endunless %}

        {{ content }}

    </main>
    <div class="toc-pane">
        <h2>CCA Dev Wiki</h2>
        <div id="search-bar" class="search-bar" hidden="">
            <form action="/wiki/cardinal-components-api/search" method="get" role="search">
                <label for="cca-wiki-search">Search</label>
                <input id="cca-wiki-search" name="query"/>
                <input type="submit" value="🔎" class="search-submit">
            </form>
        </div>
        <script>
            // Search is currently client-only, so only display it when javascript is enabled
            document.getElementById('search-bar').hidden = false
        </script>
        <nav class="sidebar">
            <ul>{% capture sidebar %}{% include cca_sidebar.md %}{% endcapture %}{{ sidebar | markdownify }}</ul>
        </nav>
    </div>
</div>
