{% capture html %}
<!DOCTYPE html>
<html lang="en-US">
{% include header.liquid %}
<body>
<!-- Custom Night mode Option -->
<script src="/scripts/darkmode.js"></script>
<header id="ladysnake-header">
    <a id="ladysnake_logo" class="ladysnake-logo" href="/">
        <img alt="Ladysnake Logo" src="/img/ladysnake-logo-light.png">
    </a>

    <button onclick="darkMode.toggleDarkMode()"><img alt="Dark Mode Icon" id="preload-darkmodeicon"
                                                     src="/img/placeholder.png"/></button>

    <input id="header-mobile-nav-toggle" type="checkbox"/>

    <label for="header-mobile-nav-toggle">
        {% include svg/hamburger-menu.svg %}
    </label>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <nav id="ladysnake-navbar">
        <ul>
            {% if page.curse_project %}
                <li class="ls-dropdown">
                    <input id="mod-download-dropdown-toggle" type="checkbox"/>
                    <label for="mod-download-dropdown-toggle">Download <b class="caret"></b></label>
                    <span class="ls-dropdown-backdrop"></span>
                    <!--Filled by JS-->
                    <ul id="mod-download-dropdown" class="ls-dropdown-menu"></ul>
                </li>
            {% endif %}
            <li><a href="/index.html">Home</a></li>
            <li><a href="/about.html">About Us</a></li>
            <li class="ls-dropdown">
                <input type="checkbox" id="mod-list-dropdown-toggle">
                <label for="mod-list-dropdown-toggle">Mods <b class="caret"></b></label>
                <span class="ls-dropdown-backdrop"></span>
                <ul id="mod-list-dropdown" class="ls-dropdown-menu">
                    {% for mod in site.mods %}
                        <li><a href="{{ mod.link }}" title="{{ mod.title }}">{{ mod.title }}</a></li>
                    {% endfor %}
                    <li>
                        <hr/>
                    </li>
                    <!-- Will be adding Fabric libraries here "shortly" -->
                </ul>
            </li>
            <li><a href="/oldsite/">Old Site</a></li>
            <li>
                <a href="https://discord.ladysnake.org" title="Discord" class="discord-invite">
                    {% include svg/discord-word.svg %}
                </a>
            </li>
        </ul>
    </nav><!-- /.navbar-collapse -->
</header>

<!-- START SECTION -->
<div class="container">
    {% capture icon %}{% include svg/octicon-link.svg %}{% endcapture %}
    {% unless page.no_anchor_headings %}
    {% capture content %}{% include anchor_headings.liquid html=content anchorBody=icon anchorClass="header-anchor" %}{% endcapture %}
    {% endunless %}
    {{ content }}
</div>

{% include scrolltop.liquid %}

<!--/.section -->
<footer class="container">
    <!-- This is the footer! Created by sschr15... -->
    <div class="row text-center">
        <p>
            Site owned and operated by Ladysnake.&nbsp;
            <span><a href="https://github.com/Ladysnake" class="p-wiki-icon">{% include svg/github-logo.svg %}</a></span>
        </p>
    </div>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Bootstrap JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<!-- Dark mode image loading -->
<script>
    darkMode.setupDarkModeButton()
</script>
<script src="/scripts/effects.js"></script>
{% if page.datapack_editor %}
    <!--Datapack editing-->
    <script src="/scripts/jszip.min.js"></script>
    <script src="/scripts/FileSaver.min.js"></script>
    <script>
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
    </script>
    <script src="/scripts/datapack-editing.js"></script>
{% endif %}
{% if page.curse_project %}
    <!-- Mod downloading dropdown, (almost) direct from our site! -->
    <script src="/scripts/mod-download.js"></script>
    <script>mountModDownloads('{{ page.curse_project }}', `{% include svg/download-icon.svg %}`);</script>
    <!-- adding the ability to print the pages out -->
    <script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>
{% endif %}

</body>

</html>
{% endcapture %}
{% capture html %}{% include relativized_links.liquid html=html src_attr="src" tag="script" %}{% endcapture %}
{% capture html %}{% include relativized_links.liquid html=html src_attr="src" tag="img" %}{% endcapture %}
{% capture html %}{% include relativized_links.liquid html=html src_attr="href" tag="a" %}{% endcapture %}
{{ html | strip }}
