---
layout: default
---
<div class="wiki">
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="/">Home</a></li>
			<li class="breadcrumb-item"><a href="/wiki/requiem">Requiem</a></li>
			<li class="breadcrumb-item"><a href="/wiki/requiem/landing">Wiki</a></li>
			<li class="breadcrumb-item active" aria-current="page">{% if page.breadcrumb %}{{ page.breadcrumb }}{% else %}{{ page.title }}{% endif %}</li>
		</ol>
	</nav>

	<div id="printJS-Content">

		<h1>{{ page.title }}&nbsp;</h1>
		{% if page.icon %}
		<img alt="Icon" class="h1-wiki-icon" src="{{ page.icon }}">
		{% endif %}

		{{ content }}

	</div>
</div>
