---
layout: default
header_preprocessor: mod_header_preprocessor.liquid
---
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% if page.breadcrumb %}{{ page.breadcrumb }}{% else %}{{ page.title }}{% endif %}</li>
	</ol>
</nav>

<div class="wiki-container">
	<div class="toc-pane">
		<h3>{{ page.title }}</h3>
		<nav class="toc">
			<ul>
				{% include mod_links.liquid %}
				<li>{% include toc.liquid html=content sanitize=true %}</li>
			</ul>
		</nav>
	</div>
	<main id="printJS-Content">
		{% unless page.custom_title %}
		<h1 id="{{ page.slug }}" class="wiki-title">
			<img src="/img/{% if page.mod_logo %}{{ page.mod_logo }}{% else %}{{ page.slug }}.png{% endif %}"
				alt="{{ page.name }} logo" class="h1-wiki-icon">
			&nbsp;{{ page.title }}&nbsp;
			<span onclick="print()" id="printLogo" data-modName="{{ page.title }}">{% include svg/print-icon.svg %}</span>
		</h1>
		{% endunless %}
		{{ content }}
	</main>
</div>
