---
layout: default
header_preprocessor: mod_header_preprocessor.liquid
---
<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item active" aria-current="page">{% if page.breadcrumb %}{{ page.breadcrumb }}{% else %}{{ page.title }}{% endif %}</li>
	</ol>
</nav>

<div class="wiki-container">
	<div class="toc-pane">
		<h3>{{ page.title }}</h3>
		<nav class="toc">
			<ul>
				{% if page.curse_project %}
				<li class="cf-link toc-external-link"><a href="https://www.curseforge.com/minecraft/mc-mods/{{ page.slug }}">
						{% include svg/cf-logo.svg %}
						{% include svg/external-link.svg %}
					</a></li>
				{% endif %}
				{% if page.modrinth %}
				<li class="mr-link toc-external-link">
					<a href="https://www.modrinth.com/mod/{{ page.slug }}">
						{% include svg/modrinth-logo.svg %}
						{% include svg/external-link.svg %}
					</a>
				</li>
				{% endif %}
				<li class="gh-link toc-external-link">
					<a href="https://www.github.com/Ladysnake/{{ page.slug }}">
						<img src="/img/GitHubWord_0.png" alt="GitHub"/>
						{% include svg/external-link.svg %}
					</a>
				</li>
				{% if page.extra_toc_links %}
					{% include {{page.extra_toc_links}} %}
				{% endif %}
				{% include toc.liquid html=content sanitize=true %}
			</ul>
		</nav>
	</div>
	<div class="main">
		{% unless page.custom_title %}
		<h1 id="{{ page.slug }}" class="wiki-title">
			<img src="/img/{% if page.mod_logo %}{{ page.mod_logo }}{% else %}{{ page.slug }}.png{% endif %}"
				alt="{{ page.name }} logo" class="h1-wiki-icon">
			&nbsp;{{ page.title }}&nbsp;
			<span onclick="print()" id="printLogo" data-modName="{{ page.title }}">{% include svg/print-icon.svg %}</span>
		</h1>
		{% endunless %}
		{{ content }}
	</div>
</div>
